.weatherHls__container {
    color: #E7E7EB;
    h1 {
        font-size: 24px;
        margin-bottom: 32px;
    }
    margin-top: 51px;
}

@media only screen and (min-width: $tablet) {
    .weatherHls__container {
        margin-top: 0;
    }
}