.weatherHl__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weatherHl__wind-status.weatherHl__wind-status,
.weatherHl__humidity,
.weatherHl__visibility,
.weatherHl__air-pressure {
    background: #1E213A;
    margin-bottom: 32px;
}

.weatherHl__wind-status {
    height: 204px;
    width: 328px;
}

.weatherHl__humidity {
    height: 204px;
    width: 328px;
}

.weatherHl__visibility {
    height: 159px;
    width: 328px;
}

.weatherHl__air-pressure {
    height: 159px;
    width: 328px;
}