.weatherInfo__container {
    background: #100E1D;
    // border-radius: 0 0 10px 10px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    height: 1718px;
    position: relative;
    width: 375px;
}