// .weatherDays__container {
//     align-items: center;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     width: 360px;
// }
.weatherDays__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    margin: 0 54px;
    position: absolute;
    top: 52px;
}