@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;600&display=swap');
html,
body {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    align-items: center;
    background-color: #FAFAFB;
    display: flex;
    justify-content: center;
    position: relative;
}

#root {
    width: 100%;
}

// .weather__container {
//     align-items: center;
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     margin: 0 auto;
//     margin-bottom: 10px;
//     width: 100%;
// }
.weather__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weather__default-navbar {
    background: #1E213A;
}

@media only screen and (min-width: $tablet) {
    .weather__container {
        align-items: center;
        display: flex;
        flex-direction: row;
        position: relative;
    }
    .weather__default-navbar {
        height: 1023px;
        left: 0;
        position: absolute;
        top: 0;
        width: 459px;
    }
    .weather__info {
        left: 459px;
        position: absolute;
        top: 0;
    }
}