@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;600&display=swap');
html,
body {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    align-items: center;
    background-color: #FAFAFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weather__container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // height: 100vh;
    margin: 0 auto;
    margin-bottom: 10px;
    // position: relative;
    width: 100%;
}

// .weather__default-component {
//     position: absolute;
//     top: 0px;
// }

// .weather__navbar-component {
//     position: absolute;
//     top: 0px;
// }

// .weather__info-component {
//     position: absolute;
//     top: 810px;
// }