@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;600&display=swap');
html,
body {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    align-items: center;
    background-color: #FAFAFB;
    display: flex;
    justify-content: center;
    position: relative;
}

#root {
    width: 100%;
}

.weather__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weather__default-navbar {
    background: #1E213A;
}

.weather__info {
    background: #100E1D;
}

@media only screen and (min-width: $tablet) {
    .weather__container {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .weather__default-navbar {
        height: 140vh;
        width: 30%;
    }
    .weather__info {
        height: 140vh;
        width: 70%;
    }
}

@media only screen and (min-width: $desktop) {
    .weather__default-navbar {
        height: 100vh;
        width: 30%;
    }
    .weather__info {
        height: 100vh;
        width: 70%;
    }
}